<h1>Queues</h1>
<ul>
  <%= for queue <- @queues do %>
    <li class="action-links">
      <div>
        <%= queue.name %>
      </div>
      <%!-- <% IO.inspect(@conn.assigns) %> --%>
      <%= if  @conn.assigns.user && @conn.assigns.user.id==queue.user_id do %>
        <div>
          |
          <.link href={~p"/queues/#{queue.id}/edit"}>Edit</.link>
          |
          <.link href={~p"/queues//#{queue.id}/delete"} method="delete">Delete</.link>
          |
        </div>
      <% end %>
    </li>
  <% end %>
</ul>

<div class="button">
  <.link href={~p"/queues/new"}>New Queue</.link>
</div>